<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container mt-4">

    <h1>Brand Report</h1>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12 my-custom-scrollbar">
            <table class="table table-striped css-serial" id="brand-table">
                <thead class="sticky-top">
                <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>

                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>
</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/brandReport.js}"/>
</script>

</body>

</html>